//// COMPUTE THE MINIMUM OF TWO VALUES
// This function takes two arguments and pushes the smaller of
// them onto the stack. To call this function, you should:
//   1. push two values onto the stack; and
//   2. call this function with `call Sys.min 2`.
// Before returning, the function pushes the result onto the
// stack, so that, from the point of view of the callee, the
// result is at the top of the stack.
// Push to the stack the minimum of two arguments.
//
function Sys.min 0

    push argument 0
    push argument 1
    gt
    if-goto MIN_ARG0_GREATER

    push argument 0         // if arg0 <= arg1 then we return arg0
    return

label MIN_ARG0_GREATER
    push argument 1         // if arg0 > arg1 then return arg1
    return


//// COMPUTE THE MAXIMUM OF TWO VALUES
// This function takes two arguments and pushes the larger of
// them onto the stack. To call this function, you should:
//   1. push two values onto the stack; and
//   2. call this function with `call Sys.max 2`.
// Before returning, the function pushes the result onto the
// stack, so that, from the point of view of the callee, the
// result is at the top of the stack.
// Push to the stack the minimum of two arguments.
//

function Sys.max 0

    push argument 0
    push argument 1
    gt
    if-goto MAX_ARG0_GREATER

    push argument 1
    return
                                  // just flipped the returns
label MAX_ARG0_GREATER
    push argument 0
    return


//// COMPUTE THE RANGE OF AN ARRAY.
// This function takes two arguments, representing an array of
// integers, and returns the range of the array onto the stack.
// The two arguments are:
//   ARG0 - memory location where the array starts, and
//   ARG1 - number of elements in the array.
// To call this function, you should:
//   1. push the address of the first array elementonto the stack;
//   2. push the number of array elements onto the stack; and
//   2. call this function with `call Sys.range 2`.
// Before returning, the function pushes the result onto the
// stack, so that, from the point of view of the callee, the
// result is at the top of the stack.
//

function Sys.range 2
// if n > 1 then continue, anything else return 0
    push argument 1
    push constant 1
    gt
    if-goto START

    push constant 0
    return

label START

// initialises the min value to the first element of the array
// Then sets THAT to point to that address then read the value at THAT[0]
    push argument 0 
    pop pointer 1
    push that 0
    pop local 0           

// same as before but to local 1
    push argument 0
    pop pointer 1
    push that 0
    pop local 1

// this moves the pointer to the next element by doing argu,ent 0 = argument 0 + 1
    push argument 0 
    push constant 1
    add
    pop local 2


    push argument 1
    push constant 1
    sub 
    pop local 3

// starts looping through the elemnts left 
    label LOOP

// if the count > 0 continue the loop, anything else stop the loop
    push argument 1
    push constant 0
    gt
    if-goto CONTINUE
    goto END

label CONTINUE

// This gets the current array value
    push argument 0
    pop pointer 1
    push that 0

// calling on the sys.min and sys.max function
    push local 0
    call Sys.min 2
    pop local 0

    push argument 0
    pop pointer 1
    push that 0

    push local 1
    call Sys.max 2
    pop local 1

// moving ont the next array element
    push argument 0
    push constant 1
    add
    pop argument 0

    push argument 1
    push constant 1
    sub
    pop argument 1

    goto LOOP // repeat it

    label END  // end of the loop

// return the range of the array (max - min)
    push local 1 
    push local 0       // local 1 stores max, local 0 stores min
    sub
    return








// The emulator will start executing from here. You can modify
// the code below while testing and debugging your code, but
// please revert your changes before submitting to Gradescope;
// otherwise, your submission will most likely fail all tests.
//
// A better way to test your code is to use the supplied file
//   Sys.tst
// with the virtual machine emulator. Please do not submit this
// file to Gradescope, as this will cause your submission to be
// rejected.
//
function Sys.init 0
    call Sys.range 2
label WHILE
    goto WHILE
